/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* FONT */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Poppins", sans-serif;
}

:root {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* ### WHATSAPP BUTTON ### */

.wppbtn {
    position: fixed;
    background-color: #25d366;
    width: 3.47rem;
    height: 3.47rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 1;
    transition: all 250ms ease;

    &:hover {
        background-color: #14639c;
        transform: scale(1.2);
    }
}

.wppbtn i {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* ########################## */

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

/*####################    NAVBAR    ####################*/

.menu {
    background-color: none;
    transition: background-color 500ms ease;
}

.navbar-scrolled {
    background-color: #172741;
    transition: background-color 500ms ease;
}

.logo {
    width: 16rem;
}

/*####################################################################*/

/*####################    SECCIÓN: PORTADA    ####################*/

.intro-section {
    padding: 10rem;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: fit-content;
    overflow: hidden;
    z-index: -100;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intros {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 10px;
}

.intros h1 {
    font-weight: 800;
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.frontpage-btns {
    gap: 1rem;
    margin-top: 4rem;
    max-width: 100%;

}

.frontpage-btns button {
    width: 20rem;
}

/*####################################################################*/

/*####################    SECCIÓN: FOOTER    ####################*/

.usimgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #151414;
}

/*####################################################################*/

/*####################    SECCIÓN: BRAND    ####################*/

.features .feature-icons {
    margin-top: 120px;
}

.features .feature-icons h3 {
    color: #222425;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.features .feature-icons .content .icon-box h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
    color: #222425;
}

.features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
}

/* #### BRAND SUB-SECTION: CARDS #### */

.card-background {
    background-size: cover;
    background-position: center;
    min-height: 600px;
    /* Aumenta la altura mínima aquí */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    position: relative;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(23, 39, 65, 0.75), rgb(23, 39, 65, 0.75));
    border-radius: 0.5rem;
    z-index: 1;
}

.card-content {
    position: relative;
    z-index: 2;
}

.card-content h1,
.card-content p {
    margin: 0;
}

.card-content .btn {
    margin-top: auto;
}

/* ### new ### */

/*####################################################################*/

/*####################    SECCIÓN: CONTACTO    ####################*/

.get-started {
    padding: 4rem 0;
    background-color: #e9ecef;
}

.form {
    padding: 0.5rem;
}

.form button {
    border: none;
    color: #fff;
    text-transform: capitalize;
}

.form button a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

/*####################################################################*/

/*####################    SECCIÓN: FOOTER    ####################*/

footer {
    background-color: #172741;
}

.footer {
    padding-top: 1rem;
    background-color: #172741;
}

.footer-sm a {
    color: #fff;

    &:hover {
        color: #40bfff;
    }
}

.footer-sm a i {
    font-size: 1.5rem;
    margin: .5rem;
}

.footer-bottom {
    background-color: #172741;
}

.footer-bottom__copyright {
    color: #6c757d;
    font-weight: 400;
}

.footer-bottom__copyright a {
    color: #dee2e6;
    text-decoration: none;
}

.footer-bottom__copyright a:hover {
    color: #fff;
    text-decoration: underline;
}

.contact-box {
    position: relative;
}

.contact-box__icon {
    width: 2rem;
    stroke: #fff;
    padding-top: 0.5rem;
}

@media (min-width: 576px) {
    .contact-box__icon {
        width: 4rem;
    }

    .contact-box__info--title {
        font-size: 1.4rem;
    }

    .contact-box__info--subtitle {
        font-size: 1rem;
    }

}

.contact-box__info {
    padding: 0.4rem;
    font-weight: 600;
}

.contact-box__info--title {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.contact-box__info--subtitle {
    font-size: 0.8rem;
    color: #6c757d;
    text-decoration: none;
}

.campany-list {
    display: block;
    list-style-type: none;
    position: relative;
}

.campany-list li {
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.campany-list li a {
    color: #fff;
    text-decoration: none;
}

.campany-list li a:hover {
    color: #14639c;
}

/*####################################################################*/

/*####################    MEDIA QUERIES    ####################*/

@media (min-width: 992px) {
    .display-3--title {
        font-size: 1.8rem;
    }

    .nav-item {
        position: relative;
    }

    .nav-item .nav-link {
        position: relative;
        text-decoration: none;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: #ffffff85;
            transition: width 250ms ease, left 250ms ease, background-color 250ms ease;
            transform-origin: bottom center;
        }

        &:hover::before {
            width: 100%;
            background-position: 100% 0;
            left: 0;
        }
    }

    .nav-item .nav-link.hovered::before {
        background-color: #fff;
    }

}

@media (max-width: 991px) {
    .menu {
        background-color: #172741;
    }

    .navbar-scrolled {
        background-color: #172741;
    }

}

@media (max-width: 976px) {

    .intros h1 {
        font-size: 2.5rem;
    }

}

@media (max-width: 768px) {
    .features .feature-icons h3 {
        font-size: 28px;
    }
}

@media (max-width: 738px) {

    .intros h1 {
        font-size: 2rem;
    }

}

@media (max-width: 705px) {

    .intros h1 {
        font-size: 1.7rem;
    }

}

@media (max-width: 663px) {
    .intro-section {
        padding: 5rem;
    }
}

@media (max-width: 662px) {
    .intros {
        position: relative;
        top: 20px;
    }
}

@media (max-width: 480px) {

    .frontpage-btns {
        flex-direction: column;
    }

}

@media (max-width: 425px) {
    .logo {
        width: 10rem;
    }
}

@media (max-width: 350px) {
    .intro-section {
        padding: 5rem;
    }

    .intros {
        position: relative;
        top: 20px;
    }

    .intros h1 {
        font-size: 1.5rem;
    }

    .frontpage-btns button {
        width: 15rem;
    }

}